p {
  opacity:.7
}

.history {
  height: 75px;
  border: 1px solid gray;
  max-width: 246px;
  overflow-y: scroll
}

.send {
  float: right;
  height: 35px;
  z-index: 10;
}

#msg1 {
  width: 180px;
  display:inline-block;
}
.text {
  height: 35px;
  max-width: 246px;
  border: 1px solid gray;
  padding-left: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  word-wrap: break-word;
  overflow: hidden;
}

.sectionBtn {
  position: absolute;
  bottom: 0;
}

.keyBtn {
  display:inline-block;
  width: 43px;
  height: 30px;
}

.charL {
  margin-bottom: 7px;
  margin-right: 2px;
  display:inline-block;
  height: 50px;
  width: 53px;
}

#k3cont1 button{
  height: 50px;
  width: 41px;
}

.container {
  max-width: 272px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px #888888;
    position:fixed;
    top:40%;
    left:40%;
}
.cc{
  height: 272px;
  /*width: 272px;*/
}
.charCont{
  display: none;
}
.keyboard1{
  display: block;
}
.keyboard2 {
  display:none;
}
.keyboard3{
  display: none;
}

